@page "/ApiAccess"
@using Microsoft.AspNetCore.Authorization
@using ApiTest
@attribute [Authorize]
@inject IApiTester ApiTester

<PageTitle>ApiAccesse</PageTitle>

<h1>API Access test</h1>

@if (_story == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var word in _story)
        {
            <li>@word</li>
        }
    </ul>
}


@code {
    private IEnumerable<string>? _story;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _story = await ApiTester.GetTestStringsAsync();
        }
        catch (IOException e)
        {
            _story = [e.Message];
        }
    }

}
