@page "/ApiAccess"
@using Microsoft.AspNetCore.Authorization
@using Annotations.Blazor.Client.ApiTest
@inject IApiTester ApiTester
@attribute [Authorize]

<PageTitle>ApiAccesse</PageTitle>

<h1>API Access test</h1>

@if (story == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var word in story)
        {
            <li>@word</li>
        }
    </ul>
}


@code {
    private IEnumerable<string>? story;

    protected override async Task OnInitializedAsync()
    {
        story = await ApiTester.GetTestStringsAsync();
    }

}
