@page "/images/datasets"
@using global::Annotations.Core.Models

@inject IHttpClientFactory ClientFactory
@inject IHttpContextAccessor httpContextAccessor
@using Microsoft.AspNetCore.Authentication



@foreach (var dataset in datasets)
{
    <p>@dataset</p>
}




@code {
    private string[]? datasets;
    private bool error = false;
    protected override async Task OnInitializedAsync()
    {
        var httpContext = httpContextAccessor.HttpContext ?? throw new InvalidOperationException("No HttpContext available");

        var accessToken = await httpContext.GetTokenAsync("access_token") ?? throw new InvalidOperationException("No access_token was saved");

        var client = ClientFactory.CreateClient();
        client.BaseAddress = new("https://localhost:7250");

        using var requestMessage = new HttpRequestMessage(HttpMethod.Get, $"/images/datasets");
        requestMessage.Headers.Authorization = new("Bearer", accessToken);

        using var response = await client.SendAsync(requestMessage);
        try
        {
            datasets= await response.Content.ReadFromJsonAsync<string[]>();
            Console.WriteLine(datasets==null);
            
        }
        catch (Exception e)
        {
            Console.WriteLine("Status code: " + response.StatusCode);
            error = true;
        }

    }
}