@using MatBlazor
@using Microsoft.AspNetCore.Authentication
@page "/images/filter/{category}"
@using global::Annotations.Core.Models
@inject IHttpClientFactory ClientFactory
@inject IHttpContextAccessor httpContextAccessor

<style>
    .displayImages {/*images are a third - three images per line*/
        width: 33%;
        padding: 1%;

    }
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
    }
    .DivToScroll{
        background-color: #F5F5F5;
        border: 1px solid #DDDDDD;
        border-radius: 4px 0 4px 0;
        color: #3B3C3E;
        left: -1px;
        max-height: 100vh;
        overflow-x:hidden;/*this creates the scrollbar. It's appearance cannot be changed*/
        padding: 1.5%;
        scrollbar-width: auto;
    }
    .filterButton {/*for functionality later on*/
        text-align: right; 
        width: 10%;
        border: 5px;
        cursor: pointer;
        background-color: transparent;
        font-size: 110%;
        margin-right: 3%;
        text-decoration: underline;
    }

  
</style>


@if (images==null)//TODO: better error handling - this doesn't even work
{
    <p><em>No images found</em></p>
}
else
{
    <div style=" display: flex; flex-direction:row;"><!--To make both lines on the same row -->
        
        <span style="padding:2%; font-weight: bold; width: 90%; font-size: 215%">Images of category "@category"</span><!--width is mainly for the placement of the filter button -->
        <button class="filterButton">Filter by...</button>
        
    </div>

        
    <div class="container DivToScroll">
        @for (int i = 0; i < images.Length; i++)
        {
            <img class="displayImages" alt="@altText[i]" src="data:image;base64, @images[i]"/><!--src is a URL - it's converted from a string of the byte array-->
        }
    </div>
    
   



}
@code{
    [Parameter] public string category { get; set; } = "";//get access to parameter from URL/get request
    private string[] images = new []{""};//all byte arrays as strings
    private string[] altText = new []{""};

    protected override async Task OnInitializedAsync()
    {
        var httpContext = httpContextAccessor.HttpContext ?? throw new InvalidOperationException("No HttpContext available");//make connection

        var accessToken = await httpContext.GetTokenAsync("access_token") ?? throw new InvalidOperationException("No access_token was saved");//authorization

        var client = ClientFactory.CreateClient();
        client.BaseAddress = new("https://localhost:7250");//connect to Web API

        using var requestMessage = new HttpRequestMessage(HttpMethod.Get, $"/images/filter/{category}");//access endpoint
        requestMessage.Headers.Authorization = new("Bearer", accessToken);//bearer token for authorization

        using var response = await client.SendAsync(requestMessage);//sending the response
        try
        {
            string[] answer = await response.Content.ReadFromJsonAsync<string[]>();//string array of JSON files of the images as strings
            ArgumentNullException.ThrowIfNull(answer);
            await Task.Yield();
            images = new string[answer.Length];
            altText = new string[answer.Length];
            for (int i = 0; i < answer.Length; i++)
            {
                var imageObject = System.Text.Json.JsonSerializer.Deserialize<ImageModel>(answer[i]);//JSON file becomes imageModel object
                ArgumentNullException.ThrowIfNull(imageObject);
                await Task.Yield();
                var imageData = imageObject.ImageData;
                altText[i] = imageObject.Description;
                images[i] = System.Convert.ToBase64String(imageData);//byte array to string
            }
        }
        catch (Exception e)//if nothing is retrieved - prints out error
        {
            Console.WriteLine("Status code: " + response.StatusCode);
            Console.WriteLine(e.Message);
            images = new string[1];
            images[0] = response.StatusCode.ToString();
        }

    }

}
