@page "/images/filter/{category}"
@using global::Annotations.Blazor.Services
@inject IHttpClientFactory ClientFactory
@inject IHttpContextAccessor httpContextAccessor
@inject IAPIServices IapiServices
@attribute [Authorize(Roles = "Administrator, Manager")]

@if (_errorExist)
{
    <Error/>
}
else if (!_existenseOfImages){
    <p><em>No images found for category @category </em></p>
}
else 
{
    @* In-line stylecheet to make both lines appear on the same row *@
    <div style=" display: flex; flex-direction:row;">
        
        @* width is mainly for the placement of the filter button *@
        <span style="padding:2%; font-weight: bold; width: 90%; font-size: 215%">Images of category "@category"</span>
        <button class="filterButton">Filter by...</button>
        
    </div>

        
    <div class="container DivToScroll">
        @for (int i = 0; i < images.Length; i++)
        {
            @* src is a URL - it's converted from a string of the byte array *@
            <img class="displayImages" alt="@altText[i]" src="data:image;base64, @images[i]"/>
        }
    </div>
}

@code{
    [Parameter] public string category { get; set; } = "";
    private string[] images = new []{""};
    private string[] altText = new []{""};
    private bool _errorExist = false;
    private bool _existenseOfImages = true;
    
    
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        @* Storing the incomming response in a variable, so that we can check if there is an error *@
        var response = await IapiServices.CreateGetResponse($"/images/filter/{category}");
        try
        {
            @* string array of JSON files of the images as strings *@
            string[] answer = await response.Content.ReadFromJsonAsync<string[]>() ?? throw new NoNullAllowedException();
            if (answer.Length == 0)
            {
                _existenseOfImages = false;
            }
            images = new string[answer.Length];
            altText = new string[answer.Length];
            for (int i = 0; i < answer.Length; i++)
            {
                var imageObject = System.Text.Json.JsonSerializer.Deserialize<ImageModel>(answer[i]) ?? throw new NoNullAllowedException();//JSON file becomes imageModel object
                var imageData = imageObject.ImageData;
                altText[i] = imageObject.Description;
                @* byte array to string *@
                images[i] = System.Convert.ToBase64String(imageData);
            }
        }
        catch
        {
            images = new string[1];
            images[0] = response.StatusCode.ToString();
            _errorExist = true;
        }
    }
}
