@page "/images/datasets/{dataset}/"
@using MatBlazor
@using Microsoft.AspNetCore.Authentication
@using global::Annotations.Core.Models
@using Microsoft.AspNetCore.Authentication
@inject IHttpClientFactory ClientFactory
@inject IHttpContextAccessor httpContextAccessor
  
@if (images==null)//TODO: better error handling - this doesn't even work
{
    <p><em>No images found</em></p>
}
else
{
   

    <div style=" display: flex; flex-direction:row;"><!--To make both lines on the same row -->
        
        <span style="padding:2%; font-weight: bold; width: 90%; font-size: 215%">Dataset @dataset</span>
        <button class="filterButton">Filter by...</button>
        
    </div>

    <Virtualize Items="@images" OverscanCount="1">
        <ItemContent>
            <img src="@GetImageSource(@context)" alt="Image" style="width: 100%; height: auto;" />
        </ItemContent>
    </Virtualize>  
   
    
}

@code{
    //TODO: code duplication from Image.Filter.razor
    [Parameter] public string dataset { get; set; }//get access to parameter from URL/get request
    public string[]? images;//all byte arrays as strings
    private string[]? altText;

    protected override async Task OnInitializedAsync()
    {
        var httpContext = httpContextAccessor.HttpContext ?? throw new InvalidOperationException("No HttpContext available");//make connection

        var accessToken = await httpContext.GetTokenAsync("access_token") ?? throw new InvalidOperationException("No access_token was saved");//authorization

        var client = ClientFactory.CreateClient();
        client.BaseAddress = new("https://localhost:7250");//connect to Web API

        using var requestMessage = new HttpRequestMessage(HttpMethod.Get, $"/images/datasets/{dataset}");//access endpoint
        requestMessage.Headers.Authorization = new("Bearer", accessToken);//bearer token for authorization

        using var response = await client.SendAsync(requestMessage);//sending the response
        try
        {
            string[] answer = await response.Content.ReadFromJsonAsync<string[]>();//string array of JSON files of the images as strings
            images = new string[answer.Length];
            altText = new string[answer.Length];
            for (int i = 0; i < answer.Length; i++)
            {
                var imageObject = System.Text.Json.JsonSerializer.Deserialize<ImageModel>(answer[i]);//JSON file becomes imageModel object
                var imageData = imageObject.ImageData;
                images[i] = System.Convert.ToBase64String(imageData);//byte array to string
                altText[i] = imageObject.Description;
            }
        }
        catch (Exception e)//if nothing is retrieved - prints out error
        {
            Console.WriteLine("Status code: " + response.StatusCode);
            images = new string[1];
            images[0] = response.StatusCode.ToString();
        }


    }
    public string GetImageSource(string base64)
        {
        // From chatgpt
        return $"data:image;base64,{base64}";
        }

}
