@* @page "/images/{imageid}/annotations" *@
@page "/images/annotations"
@implements IDisposable
@inject NavigationManager Navigation

<PageTitle>Annotations</PageTitle>

<h1>Blood Vessel Identification</h1>
Mark blood vessels, directions, thickness and connectivity

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
            <div style="display: flex; align-items: center; gap: 20px;">
                <img src="img/billede1.png" alt="Profile Picture" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover;">
                <div>
                    <b style="margin: 0;">Jane Doe</b>
                    <br/>
                    <small style="margin: 0;">Surgeon</small>
                </div>
            </div>
            <div style="margin-top: 50px">
                <MatCheckbox @bind-Value="@arteriesMarked">Arteries marked</MatCheckbox>
            </div>
            <div>
                <MatCheckbox @bind-Value="@veinsMarked">Veins marked</MatCheckbox>
            </div>
            <div>
                <MatCheckbox @bind-Value="@flowDirectionSet">Flow direction set</MatCheckbox>
            </div>
            <div>
                <MatCheckbox @bind-Value="@videoReviewed">Video reviewed</MatCheckbox>
            </div>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-9">
            
        </div>
    </div>
</div>

@code {
    private string? currentUrl;
    private bool arteriesMarked;
    private bool veinsMarked;
    private bool flowDirectionSet;
    private bool videoReviewed;

    protected override void OnInitialized()
    {
        currentUrl = Navigation.Uri;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.Uri;
        StateHasChanged();
    }

    public void Dispose() => Navigation.LocationChanged -= OnLocationChanged;
}
