<!DOCTYPE html>
<html lang="en">

<head>
    @* Character encoding and page display *@
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    @* Url base location *@
    <base href="/"/>

    @* Stylesheets *@
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Annotations.Blazor.styles.css"/>
    <link rel="stylesheet" href="matBlazorOverwrites.css" />

    @* MatBlazor library references *@
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet"/>
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>

    @* Favicon *@
    <link rel="icon" type="image/png" href="favicon.png"/>
    
    @* Custom Javascript *@
    <script src="BoundingClientGetsRect.js"></script>

    @* Blazor Head content *@
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code
{
    
}
