@page "/"
@using MatBlazor

<PageTitle>Home</PageTitle>

<h1>Annotations - PerfusionTech</h1>



This is a template Blazor Application, including some functionality intended for you to get familiar with the Blazor framework. 
Play around with it as needed!




