@using MatBlazor
@using Annotations.Core.Entities 
@page "/images/upload"
@inject ILogger<Image> Logger

<PageTitle>Upload images</PageTitle>

<h1>Upload images:</h1>

<EditForm Model="Model" OnValidSubmit="Post" FormName="ImagesUpload"> 
<p>
    <MatStringField @bind-Value="@ImgTitle" placeholder="Image title"></MatStringField>
</p>
<p>
    <MatStringField @bind-Value="@ImgDescription" placeholder="Image description"></MatStringField>
</p>
<!--Later: we will need a field for dataset membership-->
 <label>
    Select image(s) to upload:
    <InputFile OnChange="@ImgFiles" multiple/>
 </label>
 <div>
 <MatButton class="UploadButton" type="Post" OnClick="@Post" Raised="true">Upload</MatButton>
    </div>
</EditForm>


  
 
        @code
        { 
            string ImgTitle;
            string ImgDescription;
            static List<IBrowserFile> multiplelist = new List<IBrowserFile>();
 
            private async Task ImgFiles(InputFileChangeEventArgs e)
            {
            foreach (var f in e.GetMultipleFiles(10))
                {
                    multiplelist.Add(f);
                }
            }
            public byte[] ConvertIBrowserFileToByteArray(IBrowserFile file)
            {
                using (MemoryStream ms = new MemoryStream())
                {
                await file.OpenReadStream().CopyTo(ms);
                return ms.ToArray();
                }
            
            }

            
            /*void ImgFiles(IMatFileUploadEntry[] files)
            {
                files = files;
                foreach (var file in files)
                {
                    multiplelist.Add($"Id: 0 - Title: {ImgTitle} - Decription: {ImgDescription} - ImageData: {file}");
                }
            }

            */
            [SupplyParameterFromForm]
            private Image? Model { get; set; }
            protected override void OnInitialized() =>
            Model ??= new() {Id = 0 , Title = ImgTitle , Description = ImgDescription , ImageData = ConvertIBrowserFileToByteArray(multiplelist.FirstOrDefault())};
            //first or default should not stay here
            
            void Post() {
                Logger.LogInformation("Id = {Id}" + "Title = {ImgTitle}" + " Description = {ImgDescription} " +
                "ImageData = {ImageData}",
                Model?.Id, Model?.Title, Model?.Description, Model?.ImageData);
            } 
        }
 