@*
https://chrissainty.com/securing-your-blazor-apps-authentication-with-clientside-blazor-using-webapi-aspnet-core-identity/
*@

@page "/login"
@using Annotations.Core.Models
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject ILogger<LoginRequest> Logger

<h1>Login</h1>

@if (_showErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@_error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="_loginRequest" OnSubmit="HandleLogin" FormName="loginForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" Class="form-control" @bind-Value="_loginRequest.Email" />
                <ValidationMessage For="@(() => _loginRequest.Email)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="_loginRequest.Password" />
                <ValidationMessage For="@(() => _loginRequest.Password)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private LoginRequest _loginRequest { get; set; } = new();
    private bool _showErrors;
    private string _error = "";

    private async Task HandleLogin()
    {
        _showErrors = false;

        Logger.LogInformation("LOGIN REQUEST: " + _loginRequest.Email + " " + _loginRequest.Password);

        var result = await AuthService.Login(_loginRequest);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _error = result.Error;
            _showErrors = true;
        }
   }

}