@using MatBlazor
@page "/login"


<PageTitle>Login</PageTitle>

<h1>Login</h1>

<p>
    <MatStringField @bind-Value="@Email" placeholder="Email"></MatStringField>
</p>
<p>
    <MatStringField @bind-Value="@Password" placeholder="Password"></MatStringField>
</p>

<MatButton OnClick="@Click" Raised="true">Login</MatButton>
@code{
    string Email;
    string Password;


    string ButtonState = "";
    void Click(MouseEventArgs e)
    {
        ButtonState = "Clicked";
    }
        
    /* send login request to the backend? */
}