@page "/home/{userid}"

<h1> Welcome user</h1>

<div> This is your personal page. <p></p>

    Here you can view your finished tasks or continue to work on you unfinished tasks. <p></p>

    Go to profile settings to edit your personal experience.<p></p>
</div> 



