@page "/"
@implements IDisposable
@inject NavigationManager Navigation
@rendermode InteractiveServer
@namespace Home 

<pagetitle>Home</pagetitle>

<h1>Annotations - PerfusionTech</h1>



This is a template Blazor Application, including some functionality intended for you to get familiar with the Blazor framework. 
Play around with it as needed!

<authorizeview>
    <authorized>
        <form action="authentication/logout" method="post">
            <antiforgerytoken />
            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
            <matbutton class="loginbutton" type="submit">Sign out</matbutton>
        </form>
    </authorized>
    <notauthorized>
        You have not signed in yet.
        <p> Log in or make a new account to get access</p>
    </NotAuthorized>
    <authorized>
        <personalhome/>
    </authorized>

</authorizeview>
    

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = Navigation.Uri;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.Uri;
        StateHasChanged();
    }

    public void Dispose() => Navigation.LocationChanged -= OnLocationChanged;
}

            




