@page "/"
@implements IDisposable
@inject NavigationManager Navigation
@rendermode InteractiveServer
@namespace Home 

<PageTitle>Home</PageTitle>

<h1>Annotations - PerfusionTech</h1>

<AuthorizeView>
    <Authorized>
        <form action="authentication/logout" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
            <MatButton class="loginbutton" type="submit">Sign out</MatButton>
        </form>
    <PersonalHome/>
    </Authorized>
    <NotAuthorized>
        You have not signed in yet.
        <p> Log in or make a new account to get access</p>
    </NotAuthorized>
</AuthorizeView>
    

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = Navigation.Uri;
        Navigation.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.Uri;
        StateHasChanged();
    }

    public void Dispose() => Navigation.LocationChanged -= HandleLocationChanged;
}

            




