@using MatBlazor
@page "/auth/login"


<PageTitle>Login</PageTitle>

<h1>Login to annotations</h1>



<p>
    <MatStringField @bind-Value="@Email" placeholder="Email"></MatStringField>
</p>
<p>
    <MatStringField @bind-Value="@Password" placeholder="Password"></MatStringField>
</p>

<p>
Not signed up? Sign up here
</p>







<MatButton class="login" OnClick="@Click" Raised="true">Login</MatButton>
@code{
    string Email;
    string Password;


    string ButtonState = "";
    void Click(MouseEventArgs e)
    {
        ButtonState = "Clicked";
    }
        
    /* send login request to the backend? */
}