@implements IDisposable
@inject NavigationManager Navigation

<MatThemeProvider Theme="@menuTheme">
<AuthorizeView>
    <Authorized>
        <form action="authentication/logout" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
            <MatButton type="submit">Sign out</MatButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MatButtonLink Href="authentication/login">Sign in</MatButtonLink>
    </NotAuthorized>
</AuthorizeView>
</MatThemeProvider>

@code {
    private string? currentUrl;

    MatTheme menuTheme = new MatTheme()
    {
        Primary = "white",
        Secondary = MatThemeColors.BlueGrey._500.Value
    };

    protected override void OnInitialized()
    {
        currentUrl = Navigation.Uri;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.Uri;
        StateHasChanged();
    }

    public void Dispose() => Navigation.LocationChanged -= OnLocationChanged;
}
