@implements IDisposable
@inject NavigationManager Navigation

<matthemeprovider theme="@menuTheme">
<authorizeview>
    <authorized>
        <form action="authentication/logout" method="post">
            <antiforgerytoken />
            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
            <matbutton type="submit">Sign out</matbutton>
        </form>
    </authorized>
    <notauthorized>
        <matbuttonlink href="authentication/login">Sign in</matbuttonlink>
    </notauthorized>
</authorizeview>
</matthemeprovider>

@code {
    private string? currentUrl;

    MatTheme menuTheme = new MatTheme()
    {
        Primary = "white",
        Secondary = MatThemeColors.BlueGrey._500.Value
    };

    protected override void OnInitialized()
    {
        currentUrl = Navigation.Uri;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.Uri;
        StateHasChanged();
    }

    public void Dispose() => Navigation.LocationChanged -= OnLocationChanged;
}
