@inherits LayoutComponentBase

<div class="header">
    <div>
        <a href="/">
            <img id="logo" src="/img/perfusiontech_logo.png" alt="Perfusiontech home" />
        </a>
    </div>
<div class="dropdown">
            <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                <a href="/images/datasets">Datasets overview</a>
                <a href="/images/annotations">Annotate on images</a>
                </div>
            </div> 
        </div>
    <div class="ContentAlignRight">    
        <AvatarMenu />
    
        
    </div>




<div class="page">
    <div class="main">
        <article class="content px-4">
            @Body
        </article>
    </div>
    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
