@page "/accessdenied"
@inject IHttpClientFactory ClientFactory
@inject IHttpContextAccessor httpContextAccessor
@attribute [Authorize]

<pagetitle>Accessdenied</pagetitle>

<br/>
<br/>
<br/>
<br/>

<div style="display: flex; justify-content: center; align-items: center;">
    <h1>You are not welcome here!</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
    <img src="img/Accessdenied.png" alt="Access Denied"/>
</div>





