@page "/accessdenied"
@inject IHttpClientFactory ClientFactory
@inject IHttpContextAccessor httpContextAccessor
@attribute [Authorize]

<PageTitle>Accessdenied</PageTitle>



<div style="padding-top: 100px; display: flex; justify-content: center;flex-direction: column;
    align-items: center;">
    <h1>You are not welcome here!</h1>
    <img src="img/Accessdenied.png" alt="Access Denied"/>
</div>





